{% extends "base.html" %}
{% block title %}|LOGIN {% endblock %}
{% load crispy_forms_tags %}
{% block body %}
  <div class="row m-0 p-0">
      <div class="container center">
          <h3 class="h1">LOGIN</h3>
        <form method="POST" class="form-signin col-md-6 mb-3">{% csrf_token %}
{#                {{ form|crispy }}#}
             {{ form.username|as_crispy_field }}
             {{ form.password|as_crispy_field }}
            <div class="checkbox mb-3">
                <a href="{% url 'regester'%}">Create account</a>
            </div>
          <input class="btn btn-lg btn-warning btn-block" id="center" type="submit" value="Submit">
            <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
        </form>
      </div>
  </div>
{% endblock %}

{#  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">#}






















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>