{% extends "base.html" %}
{% block title %}|LOGIN {% endblock %}
{% load crispy_forms_tags %}
{% block body %}
{#    <p class="alert alert-warning">plzz enter gmail</p>#}
  <div class="row m-0 p-0">
      <div class="container center">
          <h3>Reset Password</h3>
        <form method="POST" class="form-signin col-md-6 mb-3">{% csrf_token %}
                {{ form|crispy }}
            <input class="btn btn-lg btn-warning btn-block" id="center" type="submit" value="Request To Reset Password">
        </form>
      </div>
  </div>
{% endblock %}