<div class="text-center">
<h3 style="color: #fff055">Select your product</h3>
</div>

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href='{% url "Products:p-all" %}'  style="color: #fff055">ALL Kind Of Pets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href='{% url "fish" %}' style="color: #fff055">Fishes</a>
    </li>
      <li class="nav-item">
      <a class="nav-link active" href='{% url "bird" %}' style="color: #fff055">Birds</a>
    </li>
  <li class="nav-item">
      <a class="nav-link active" href='{% url "dog" %}' style="color: #fff055">Dogs</a>
    </li>
  <li class="nav-item">
      <a class="nav-link active" href='{% url "cat" %}' style="color: #fff055">Cats</a>
    </li>
  <li class="nav-item">
      <a class="nav-link active" href='{% url "featured" %}' style="color: #fff055">Exotic Pets</a>
    </li>
   <li class="nav-item">
      <a class="nav-link active" href='{% url "accessories" %}' style="color: #fff055">Accessories</a>
    </li>
  </ul>